/* -----------Body-------------------------------------- */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*-----------Background---------------------------------  */
.background {
  flex: 1; 
  width: 100%; 
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  animation: bgChange 15s infinite linear;
  overflow: hidden;
}
/*-----------background Animation 0f images------------------------ */
@keyframes bgChange {
    0% {
        background-image: url("/static/home/image/background1.png");
    }
    30% {
        background-image: url("/static/home/image/background2.png");
    }
    66% {
        background-image: url("/static/home/image/background2.png");
    }
    100% {
        background-image: url("/static/home/image/background1.png");
    }
}
/* -------------------header------------------------------------------------------- */
header {
  display: flex;
  align-items: center;   
  gap: 30px;             
}
header img {
  margin-right: 60px;   
  transition: transform 0.4s ease;
  animation: float 3s ease-in-out infinite;
}
header img:hover{
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px #00ffff)
            drop-shadow(0 0 20px #00ffff);
}
header a{
    color: white !important;
    text-decoration: none;
    margin-left: 90px;
    font-family:"Chela One", system-ui;
    font-size: 30px;
    font-style: normal;
    transition: transform 0.4s ease;
    animation: float 3s ease-in-out infinite;
}
header a:hover {
    background: #00ffff !important;
    color: black !important;
    box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff;
    border-radius: 20px;
    padding: 5px 15px;
}
header button {
    margin-right: 0px;
}
.login-btn {
    padding: 8px 20px;
    background: rgb(242, 223, 10);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 100px;
    font-family:"Chela One", system-ui;
    font-size: 20px;
    font-style: normal;
}
.login-btn:hover {
    background: #00ffff;
    color: black;
    box-shadow: 0 0 15px #00ffff,
                0 0 30px #00ffff,
                0 0 60px #00ffff;
}
/*------------------Modal background-----------------------------------------*/
#overlay {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 10;
  display: none;
}
/* ------------------Contact Modal--------------------------------------------- */
#contactModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 350px;
  padding: 25px;
  border-radius: 25px; 
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 30px rgba(0,255,255,0.4);
  text-align: center;
  color: white;
  display: none;
  z-index: 20;
  transition: 0.3s ease;
}
#contactModal.show {
  transform: translate(-50%, -50%) scale(1);
}
#contactModal h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-shadow: 0 0 10px #00ffff;
}
#contactModal p {
  font-size: 16px;
  margin: 10px 0;
  letter-spacing: 1px;
}
#contactModal button {
  margin-top: 15px;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #00ffff;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
#contactModal button:hover {
  background: #00c3ff;
  box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff;
}
/* ---------------------------Profile Modal----------------------------------- */
#profileModal {
  width: 380px !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(12, 11, 11, 0.779);
  padding: 20px;
  border-radius: 15px;
  z-index: 20;  
  display: none;
  max-height: 72vh;
 overflow-y: scroll;
 scrollbar-width: none;
 -ms-overflow-style: none;
 -webkit-scrollbar: none;
}
#profileModal.show {
  transform: translate(-50%, -50%) scale(1);
}
#profileModal input,#profileModal select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 12px;
  border: none;
  background: rgba(14, 13, 13, 0.909);
  color: white;
  outline: none;
  transition: 0.3s;
}
#profileModal input::placeholder {
  color: rgba(255,255,255,0.7);
}
#profileModal input:focus {
  background: rgba(0,255,255,0.2);
  box-shadow: 0 0 10px #00ffff;
}
#profileModal button {
  margin-top: 10px;
  margin-left: 20px;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #00ffff;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
#profileModal button:hover {
  background: #00c3ff;
  box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff;
}
#profileModal h2 {
  margin-bottom: 10px;
  font-size: 30px;
  text-shadow: 0 0 10px #00ffff;
  text-align: center;
  color: white;
}
#profileModal img, #profileView img, #viewImg, #preview {
    width: 140px !important;  
    height: 140px !important; 
    min-width: 140px !important;
    min-height: 140px !important;
    border-radius: 50% !important; 
    object-fit: cover !important;  
    display: block !important;
    margin: 15px auto !important;
    border: 4px solid #00ffff !important;
    box-shadow: 0 0 15px #00ffff !important;
}
#profileView p {
  margin: 8px 0;
  font-size: 18px;
  letter-spacing: 1px;
  color: white !important;
  text-align: justify;
  margin-left: 30px;
}
#profileView button {
  margin: 10px 5px;
}
/* ------------------------Profile Icon---------------------------- */
.user-badge {
    display: flex;
    align-items: center;
    background: #1b0221;
    padding: 5px 20px 5px 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.1);
    min-width: 180px;
    margin-left: 70px;
}
.user-badge:hover {
    box-shadow: 0 0 15px #00ffff;
    transform: scale(1.05);
}
.user-avatar {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #00ffff;
    margin-right: 12px;
}
.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.user-name {
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
}
.user-profession {
    color: #00ffff;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
}
/* ------------------------Login/Register Modal---------------------------- */
#loginModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 350px;
  padding: 25px;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 30px rgba(0,255,255,0.4);
  text-align: center;
  color: white;
  display: none;
  z-index: 20;
  transition: 0.3s;
}
#loginModal.show {
  transform: translate(-50%, -50%) scale(1);
}
#loginModal input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
}
#loginModal input::placeholder {
  color: white;
  opacity: 1;
}
#loginModal button {
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #00ffff;
  cursor: pointer;
}
#loginModal button:hover {
  box-shadow: 0 0 15px #00ffff;
}
/* -----------------content--------------------------------------------------- */
.content{
    font-family: 'StarForge';
    font-size: 20px;
    text-align: center;
    color: white;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-shadow: 
        0 0 5px #00f7ff,
        0 0 15px #00f7ff,
        0 0 30px #00f7ff;
}
.welcome {
    font-size: 90px;
    transition: transform 0.4s ease;
    text-shadow: 
        0 0 5px #00f7ff,
        0 0 15px hsl(84, 100%, 50%),
        0 0 30px #00f7ff;
    color: #f1fd47;
}
.title {
  font-size: 90px;
  font-weight: bold;
  margin-top: -20px;
}
.title:hover {
    transform: scale(1.2);
}
.learn {
  color: #fffb00; 
  text-shadow: 0 0 10px hsl(33, 98%, 66%), 0 0 20px oklch(86.52% 0.17676 90.387);
}
.code {
  color: #00ffff; 
  text-shadow: 0 0 10px hsl(206, 100%, 50%), 0 0 20px hwb(196 0% 0%);
}
.play {
  color: #ff6200;
  text-shadow: 0 0 10px #ff8800, 0 0 20px #ff8800;
}
#typing::after {
    animation: blink 5s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
#startBtn {
    display: none; 
    margin-top: 0px;
    font-family:"Chela One", system-ui;
     font-size: 25px;
}
.start-btn {
    padding: 12px 30px;
    border: none;
    background: #ebff34;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}
.start-btn:hover {
    box-shadow: 0 0 20px #00ffff,
                0 0 40px #00ffff;
    background: hsl(179, 100%, 55%);
}
/* --------------------footer--------------------------------------------------- */
footer {
  position: fixed;   
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.9);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 999;
}

